﻿@{
    ViewBag.Title = "Index";
}

<div class="titlebar">
    <div class="title">
        <p>BOSS - Customer Relationship Management</p>
    </div>
</div>
<div class="row text-center two-buttons">
    <div class="col-xs-12 col-sm-6">
        <div class="btn btn-info">
            Sales by Customer Type
        </div>
    </div>
    <div class="col-xs-12 col-sm-6">
        <div class="btn btn-info">
            Pie Chart Report
        </div>
    </div>
</div>