﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar" style="margin-top:10px">
        <div class="container">
            <div class="navbar-header">
                <a href="/" id="so-logo" class="navbar-brand"></a>
            </div>
            <div class="navbar-collapse collapse">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    <div class="container">
        @RenderBody()
    </div>

    @*<footer>
        <div class="container">
            <div class="col-xs-12 hidden-xs" style="margin-left:30px">
                <div class="col-md-8 col-sm-11">
                    <a href="#">About</a>
                    <a href="#">How Does It Work?</a>
                    <a href="#">Terms &amp; Conditions</a>
                    <a href="#">Privacy Statement</a>
                    <a href="#">Contact</a>
                </div>
            </div>
            <div class="visible-xs text-center text-white">
                <h5>Teleconsult © 2015</h5>
            </div>
        </div>
    </footer>*@

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
