﻿body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

#so-logo {
   display:block;
    width:295px;
    height:72px;
    background: url(../Content/icons/icons.png) no-repeat -1535px 0px scroll; 
}

.titlebar {
    height:45px;
    background-color:#3276B1;
    text-align:center;
    margin-bottom:40px;
}

.title {
    line-height:45px;
    color:white;
    font-size:18px;
}

.two-buttons .btn-info {
    height:190px;
    line-height:170px;
    width:60%;
    margin: 0px auto;
    font-size:20px;
}

@media (min-width: 768px) and (max-width: 990px) {
    .two-buttons .btn-info {
        width: 80%;
    }
}

@media (max-width: 768px) {
    .two-buttons .btn-info {
        width: 100%;
    }
    .two-buttons .btn-info:last-child{
        margin-top:10px;
    }
}